body {
  font-family: SharpSans, Helvetica, Arial;
}
.Home {
  background-color: #FC4009;
  letter-spacing: 1px;
  padding: 16em 0;
}

.Welcome-text {
  color: white;
  font-weight: bolder;
  font-size: 36px;
}

.Play-button {
  margin-top: 5em;
  padding: 0.75em 2.5em;
  background-color: white;

  font-size: 16px;
  font-weight: lighter;
  color: #FC4009;

  letter-spacing: 1px;
  border-radius: 6px;

  box-shadow: 0px 2px #FC9473;
  transition: 0.2s linear;
}
.Play-button:hover {
  background-color: #FCD4C9;
  color: white;
  transition: 0.2s linear;
}

#root {
}
.App {
  text-align: center;
}

.Board {
  padding: 0 12em;
  padding-top: 1em;
  background-color: #FCD4C9;
}
.Heading {
  color: #FC4009;
  letter-spacing: 1px;
  /* margin-top:   5em; */
  margin-bottom: 5em;
}

.Card {
  display: inline;
  margin: 2em 0.75em;
}
.Card img {
  max-height: 12em;
  border: 1px solid #FC4009;
  border-radius: 8px;
}

.Go-home {
  position: absolute;
  left: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #FC4009;
  transition: 0.1s linear;
}
.Go-home:hover {
  color: black;
}
